<form class="card m-2 shadow-sm bg-light p-2" [formGroup]="formPostagem">
  <h3>Cadastrar postagem</h3>
  <hr class="hr mt-0"/>
  <div class="form-group">
    <label>Titulo:</label>
    <input formControlName="titulo" type="text" class="form-control">
  </div>
  <div>
    <div class="img-preview d-flex justify-content-center align-items-center" (click)="cliqueNaImagem()">
      <img class="h-100" id="imagePreview" [src]="previewImage ? previewImage.link : ''">
      <label *ngIf="!previewImage">Imagem</label>
    </div>
    <input type="file" [hidden]="true" id="inputFile" (change)="previewImagem($event)" accept="image/png, image/jpeg">
  </div>
  <div class="form-group mt-3">
    <label>Conteudo:</label>
    <textarea formControlName="conteudo" class="form-control" rows="8"></textarea>
  </div>
  <div class="text-center">
    <button class="btn btn-success mr-2" (click)="cadastrar()">Cadastrar</button>
    <button class="btn btn-danger mr-2">Limpar</button>
    <button class="btn btn-dark" [routerLink]="['../']">Voltar</button>
  </div>
</form>
