.post-preview{
  height: 200px;
  border-bottom: 1px solid #ccc;
  border-radius: 10px;
  transition: 0.4s;
}

.post-preview:hover{
  background-color: #007bff30;
  cursor: pointer;
}

.post-preview:nth-last-child(1){
  border: none;
}

.pointer{
  cursor: pointer;
}

.fa-thumbs-up:hover{
  color: #007bff!important;
}

.fa-thumbs-down:hover{
  color: #dc3545!important;
}

.opacity-2{
  opacity: 0.5;
}

.imagem-miniatura {
  display: inline-flex;
  justify-content: center;
  width: 30px;
  height: 30px;
  overflow: hidden;
  border-radius: 100%;
  border: 1px solid #000;
  vertical-align: middle;
}

.imagem-miniatura > img {
  height: 30px;
}
