<div [style.background-color]="cor" class="p-3">
  <div class="">
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()" style="outline: none;">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <h3>{{titulo}}</h3>
  {{conteudo}}
  <div class="w-100 text-right mt-3">
    <button
      [hidden]="!botaoCancelar"
      [style.background-color]="corBotaoCancelar"
      [style.color]="corTextoBotaoCancelar"
      class="btn mr-2"
      (click)="cancelar()"
      >
      {{textoBotaoCancelar}}
    </button>
    <button
      [hidden]="!botaoConfirmar"
      [style.background-color]="corBotaoConfirmar"
      [style.color]="corTextoBotaoConfirmar"
      class="btn"
      (click)="confirmar()"
      >
      {{textoBotaoConfirmar}}
    </button>
  </div>
  <div class="timer-container w-100" *ngIf="barraTimer">
    <div class="timer" id="timer" [style.background-color]="corBarraTimer"></div>
  </div>
</div>
