<div class="bg-dotted h-100 d-flex align-items-center">
  <form [formGroup]="formCadastro" class="card mx-auto col-6 px-0 border-0">
    <div class="card-header bg-primary text-white h4">
      Cadastre-se
    </div>
    <div class="card-body">
      <div class="form-group">
        <label class="h5">Nome:</label>
        <input formControlName="nome" class="form-control"/>
      </div>
      <div class="form-group">
        <label class="h5">E-mail:</label>
        <input formControlName="email" class="form-control"/>
      </div>
      <div class="row">
        <div class="form-group col-6">
          <label class="h5">Senha:</label>
          <input formControlName="senha" type="password" class="form-control"/>
        </div>
        <div class="form-group col-6">
          <label class="h5">Repita a Senha:</label>
          <input formControlName="reSenha" type="password"  class="form-control"/>
        </div>
      </div>
      <div class="text-center">
        <button class="btn btn-primary" (click)="cadastrar()">Cadastrar</button>
      </div>
    </div>
    <div class="card-footer text-center">
      <label class="h6">já possui uma conta?</label>
      <div class="w-100"></div>
      <a [routerLink]="['/Login']" class="btn btn-success">Faça o login</a>
    </div>
  </form>
</div>
