<div class="card m-2 shadow-sm bg-light p-2">
  <h3>
    Posts
  </h3>
  <hr class="hr mt-0"/>
  <div class="text-center">
    <button class="btn btn-primary" [routerLink]="['/administracao/criar']">
      Criar postagem
    </button>
  </div>
  <hr class="hr"/>
  <ul class="pl-0">
    <li *ngFor="let post of postagens" class="row mx-0 mt-1 px-4">
      <label class="col px-0">{{post.Titulo}}</label>
      <button class="btn btn-outline-success mr-2 col-auto" [routerLink]="['/administracao/',post._id]">Visualizar</button>
      <button class="btn btn-outline-warning mr-2 col-auto" [routerLink]="['/administracao/editar',post._id]">Editar</button>
      <button class="btn btn-outline-danger col-auto" (click)="excluirPostagem(post._id)">Excluir</button>
    </li>
    <li class="text-center list-unstyled" *ngIf="!(postagens.length > 0)">Não há postagens.</li>
  </ul>
</div>

