<header class="p-2 shadow-sm d-flex align-items-center">
  <a href="/" class="font-weight-bold h5 text-decoration-none">Blog do Paulo</a>
  <a href="/" class="mx-4 text-decoration-none">Inicio</a>
  <a href="/Posts" class="mx-4 text-decoration-none">Posts</a>
  <a href="/Sobre" class="mx-4 text-decoration-none">Sobre</a>
  <a href="/administracao" *ngIf="estaLogado()" class="mx-4 text-decoration-none">Administração</a>
  <a href="/Login" *ngIf="!estaLogado()" class="btn btn-primary ml-auto">Entrar</a>
  <a href="" (click)="logout()" *ngIf="estaLogado()" class="btn btn-danger ml-auto">Sair</a>
</header>
<router-outlet></router-outlet>

<footer class="py-3 text-center bg-light">
  <a href="/" class="text-decoration-none">Todos os direitos reservados a Paulo Victor</a>
</footer>
